* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  height: 100%;
}

body {
  --blue: #28384c;

  min-height: 100%;
  background-color: #f6f6f6;

  font-family: "Bungee", sans-serif;
  color: var(--blue);

  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
}

.hidden {
  display: none;
}

main header {
  margin-bottom: 3.5rem;
  text-align: center;
}

main h1 {
  font-family: "Bungee Shade", sans-serif;
  font-size: 4rem;
  font-weight: 400;
  line-height: 98%;
  margin-bottom: 0.5rem;
}

main svg {
  margin-bottom: 0.5rem;
}

#left-circle,
#right-circle {
  transform-origin: center;
  transform-box: fill-box;
  transition: transform 0.5s;
}

main svg + p {
  margin-bottom: 3.5rem;
}

main .buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

main .buttons label {
  cursor: pointer;
}

main .button {
  text-align: center;
}

main .button + .button {
  margin-left: 1rem;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] ~ span {
  -webkit-appearance: none;
  appearance: none;

  width: 2rem;
  height: 2rem;
  display: inline-block;

  border: none;
  border-radius: 0.5rem;

  background-color: var(--blue);
  color: #e7eced;
  line-height: 2rem;
  text-align: center;
}

.slider label {
  margin-bottom: 1rem;
  display: block;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;

  width: 100%;
  height: 0.5rem;

  border-radius: 0.25rem;

  background-color: var(--blue);
  outline: none;
  opacity: 0.9;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

input[type="range"]:hover {
  opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;

  width: 2rem;
  height: 2rem;
  background: #afb6bb;
  cursor: pointer;
  border-radius: 50%;
  z-index: 2;
}

input[type="range"]::-moz-range-thumb {
  width: 2rem;
  height: 2rem;
  background: #afb6bb;
  cursor: pointer;
}
